<%- include header %>
 <form method="post" class="archive">
  标题：<br />
  <input class="p-title" type="text" name="title" value="<%= post.title %>" disabled="disabled" /><br />
   
  正文：<br />
  <textarea name="post" rows="20" cols="100"><%= post.post %></textarea><br />
  <input class="save-edit" type="submit" value="保存修改" />
 </form> 