 </article>
 </div>
     <footer>
       <ul class="declare">
        <li>关于清悦</li>
        <li>联系我们</li>
        <li>加入我们</li>
        <li>帮助中心</li>
       </ul>
       <ul class="link">
         <li class="twitter"></li>
         <li class="wechat"></li>
         <li class="qzone"></li>
         <li class="linkedin"></li>
       </ul>
     </footer> 
</body>
</html>